<header th:fragment="menu">

<nav class="navbar navbar-expand-lg superiorNav">
  <div class="row w-100 ps-4">

    <!-- Pantallas grandes -->
    <div class="col-lg-2 d-none d-lg-flex align-items-center justify-content-center">
      <a class="navbar-brand me-0" th:href="@{/}"><img src="/icons/logo_white.png" alt="logo" style="max-width: 100px" data-toggle="tooltip" data-placement="top" title="Inicio"></a>
    </div>

    <div class="col-lg-8 col-2 align-content-center">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav gap-lg-3 mx-auto fw-bolder">
	    	
	    	<th:block th:if="${#authorization.expression('isAuthenticated()')}">
			      <li class="nav-item" th:classappend="${currentPath.startsWith('/call/callFirstStage') ? 'active' : ''}">
			        <a class="nav-link link" th:href="@{/call/callFirstStage}">Usuarios</a>
			      </li>
			</th:block>
	      <!--  
	      <li class="nav-item" th:classappend="${currentPath.startsWith('/phone') ? 'active' : ''}">
			    <a class="nav-link link" th:href="@{/phones}">Teléfonos</a>
		 </li>
	      <li class="nav-item" th:classappend="${currentPath.startsWith('/medication') ? 'active' : ''}">
	        <a class="nav-link link" th:href="@{/medicationList}">Medicamentos</a>
	      </li>
	      -->
	      
	      <!-- Compruebo si el usuario es admin -->
	      	<th:block th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
	      
			      <li class="nav-item" th:classappend="${currentPath.startsWith('/callTypes') ? 'active' : ''}">
			        <a class="nav-link link" th:href="@{/callTypes}">Tipos de llamada</a>
			      </li>
			      <li class="nav-item" th:classappend="${currentPath.startsWith('/locality') ? 'active' : ''}">
			        <a class="nav-link link" th:href="@{/locality}">Localidades</a>
			      </li>
			      <li class="nav-item" th:classappend="${currentPath.startsWith('/employee') ? 'active' : ''}">
			        <a class="nav-link link" th:href="@{/employee}">Empleados</a>
			      </li>
			</th:block>
			
			<th:block th:if="${#authorization.expression('isAuthenticated()')}">
			       <li class="nav-item" th:classappend="${currentPath.startsWith('/relation') ? 'active' : ''}">
			        <a class="nav-link link" th:href="@{/relation/add}">Añadir relación</a>
			       </li>
			</th:block>
			   
	    </ul>
	  </div>
	  
	 </div>

    <!-- Pantallas móviles -->
    <div class="col-8 d-flex d-lg-none align-items-center justify-content-center">
      <a class="navbar-brand" th:href="@{/}"><img id="mobile-logo" src="/icons/logo_white.png" alt="logo" ></a>
    </div>
    
    <!-- Botón llamada -->
    <!-- 
    <div th:if="${#authorization.expression('isAuthenticated()')}" class="col-2 d-flex align-items-center justify-content-center">
		<button class="navCallButton" onclick="location.href='/call/callFirstStage'" aria-label="Botón de iniciar llamada">
		  <span class="text">Llamar</span>
		  <span class="icon">
		  	<svg
		      viewBox="0 0 24 24"
		      height="24"
		      width="24"
		      xmlns="http://www.w3.org/2000/svg"
		    ></svg>
		    <span class="buttonSpan">
		    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg></span>
		  </span>
		</button>
    </div>
     -->
    
    
    <!-- 
    <div id="username" class="col-lg-1 col-1 d-flex justify-content-center align-items-center px-1">
      <a href="#" class="nav-link link">
        Usuario Admin
      </a>
    </div>
    
     -->
    <div class="col-lg-2 col-2">
	    <!-- <div th:if="${#authentication.name!='anonymousUser'}" id="username" class="col-lg-1 col-1 d-flex justify-content-center align-items-center px-1">
	      <a href="#" class="nav-link link">
	        Usuario <span th:text="${authentication.principal.getName()}"></span>
	      </a>
	      <span class="separator d-none d-lg-block">
	      	<svg viewBox="0 0 24 24"
			     height="24"
			     width="24"
			     xmlns="http://www.w3.org/2000/svg">
			</svg>
		  </span>      
	    </div>
	    -->
	
		<div id="logout" class="h-100 d-flex justify-content-center align-items-center px-1">
		  <!-- Botones de inicio y cierre de sesión -->
		  <span>
		    <a th:if="${#authentication.name=='anonymousUser'}" th:href="@{/login}" class="loginButton">Iniciar Sesión</a>
		    
		    <th:block th:if="${#authorization.expression('isAuthenticated()')}">
		      <div class="dropdown">
		        <button class="btn dropdown-toggle logoutButton" type="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
		          <span th:text="${#authentication.name}"></span>
		        </button>
		      
		        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
		          <li><a class="dropdown-item" th:href="@{/employee/edit/{username}(username=${#authentication.name})}">Editar perfil</a></li>
		          <li><hr class="dropdown-divider"></li>
		          <li><a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a></li>
		        </ul>
		      </div>
		    </th:block>
		  </span>
		</div>

	</div>
      
  </div>
</nav>

</header>