<html xmlns:th="http://www.thymeleaf.org" th:replace="layout.html"  >

	<div class="container" th:fragment="mainContent" >
	
		<h1 class="text-center mt-5 mb-4" >Lista de usuarios</h1>
		
		<!-- Buscador -->
		<div class="row justify-content-center my-5">
		    <div class="col-md-6">
		    <div class="row" >
		      <div class="search-container col-11">
			      <form th:action='@{/call/callFirstStage(page=${1}, size=${10})}' method='GET' id='searchForm'>
			      	<input type="hidden" th:value="1" name="page" />
          			<input type="hidden" th:value="10" name="size" />
			      
			        <input id="searchInput" type="text" th:value="${searchValue}" name='searchValue' class="form-control search-input" placeholder="Buscar usuario...">
			        <svg class='search-icon' xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#1E2C2CBA"><path d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
			      </form>
		      </div>
		      <div class='col-1'>
			      <button id='clearButton' class='mt-2'>Limpiar</button>
		      </div>
		    </div>
		    </div>
		 </div>	
		
		
		<div class="d-flex justify-content-end mb-4">
			<a th:href="@{/user/add}" class='addButton' >Añadir +</a>		
		</div>
		<div th:if="${errorMsg}" class='msg alert alert-warning my-3 text-center' th:text="${errorMsg}" ></div>
		<!-- Añadir condicional y según si se ha añadio o borrado un usuario, indicarlo. Si se ha añadido, que venga un link para ver el usuario añadido -->
		<table class='table table-hover text-center mb-5' >
			<thead>
				<tr>
					<th>
			            <a class="noLinkStyle" th:href="@{/call/callFirstStage(page=1, size=10, sortField='id', sortDirection=${sortField == 'id' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchValue=${searchValue})}">
			                Id
			                <span th:if="${sortField == 'id'}">
			                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="#5f6368" th:class="${sortDirection == 'asc' ? 'rotate-down' : 'rotate-up'}">
			                        <path d="M7.1 2h2v11.1l3.6-3.5L14 10.1 8 16 2 10.1l1.3-1.4L7.1 13V2Z"/>
			                    </svg>
			                </span>
			            </a>
			        </th>
					<th>
			            <a class="noLinkStyle" th:href="@{/call/callFirstStage(page=1, size=10, sortField='name', sortDirection=${sortField == 'name' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchValue=${searchValue})}">
			                Nombre
			                <span th:if="${sortField == 'name'}">
			                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="#5f6368" th:class="${sortDirection == 'asc' ? 'rotate-down' : 'rotate-up'}">
			                        <path d="M7.1 2h2v11.1l3.6-3.5L14 10.1 8 16 2 10.1l1.3-1.4L7.1 13V2Z"/>
			                    </svg>
			                </span>
			            </a>
			        </th>
					<th>
			            <a class="noLinkStyle" th:href="@{/call/callFirstStage(page=1, size=10, sortField='surname', sortDirection=${sortField == 'surname' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchValue=${searchValue})}">
			                Apellidos
			                <span th:if="${sortField == 'surname'}">
			                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="#5f6368" th:class="${sortDirection == 'asc' ? 'rotate-down' : 'rotate-up'}">
			                        <path d="M7.1 2h2v11.1l3.6-3.5L14 10.1 8 16 2 10.1l1.3-1.4L7.1 13V2Z"/>
			                    </svg>
			                </span>
			            </a>
			        </th>
			        <th>
			            <a class="noLinkStyle" th:href="@{/call/callFirstStage(page=1, size=10, sortField='gender', sortDirection=${sortField == 'gender' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchValue=${searchValue})}">
			                Género
			                <span th:if="${sortField == 'gender'}">
			                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="#5f6368" th:class="${sortDirection == 'asc' ? 'rotate-down' : 'rotate-up'}">
			                        <path d="M7.1 2h2v11.1l3.6-3.5L14 10.1 8 16 2 10.1l1.3-1.4L7.1 13V2Z"/>
			                    </svg>
			                </span>
			            </a>
			        </th>
			        <th>
			            <a class="noLinkStyle" th:href="@{/call/callFirstStage(page=1, size=10, sortField='locality', sortDirection=${sortField == 'locality' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchValue=${searchValue})}">
			                Localidad
			                <span th:if="${sortField == 'locality'}">
			                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="#5f6368" th:class="${sortDirection == 'asc' ? 'rotate-down' : 'rotate-up'}">
			                        <path d="M7.1 2h2v11.1l3.6-3.5L14 10.1 8 16 2 10.1l1.3-1.4L7.1 13V2Z"/>
			                    </svg>
			                </span>
			            </a>
			        </th>
					<th>
			            <a class="noLinkStyle" th:href="@{/call/callFirstStage(page=1, size=10, sortField='birthday', sortDirection=${sortField == 'birthday' and sortDirection == 'asc' ? 'desc' : 'asc'}, searchValue=${searchValue})}">
			                Fecha de nacimiento
			                <span th:if="${sortField == 'birthday'}">
			                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="#5f6368" th:class="${sortDirection == 'asc' ? 'rotate-down' : 'rotate-up'}">
			                        <path d="M7.1 2h2v11.1l3.6-3.5L14 10.1 8 16 2 10.1l1.3-1.4L7.1 13V2Z"/>
			                    </svg>
			                </span>
			            </a>
			        </th>
					<!-- <th>Última llamada</th> -->
					<th>Ver más </th>
					<th>Llamar</th>
				</tr>
			</thead>
			<tbody th:if="${searchResults == null or searchResults.isEmpty()}">
				<tr th:each="user : ${paginatedUsers}">
					<td th:text="${user.id}" class='overflow-auto'></td>
					<td th:text="${user.name}" class='overflow-auto'></td>
					<td th:text="${user.surname}"></td>
					<td th:switch="${user.gender}"  >
						<span th:case="'M'" >Mujer</span>
						<span th:case="'H'" >Hombre</span>
					</td>
					<td th:text="${user.locality.name}"></td>
					<td th:text="${user.birthday}"></td>
					<!-- <td></td> -->
					<td><a th:href="@{/user/{id}(id=${user.id})}" data-toggle="tooltip" data-placement="top" title="Ver más">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 250 250" fill="#5f6368">
							  <g transform="translate(0.000000,250.000000) scale(0.100000,-0.100000)" stroke="none">
							    <path d="M1170 2354 c-200 -31 -332 -68 -444 -127 -272 -141 -501 -383 -650 -687 -67 -136 -72 -175 -37 -277 61 -177 193 -374 357 -533 138 -133 296 -232 485 -303 133 -50 185 -44 229 28 47 76 4 147 -114 191 -178 65 -332 162 -450 282 -105 107 -157 178 -226 313 l-59 116 59 113 c142 267 296 424 525 534 177 86 328 115 497 96 383 -43 688 -283 888 -701 l22 -45 -57 -113 c-75 -150 -76 -203 -3 -246 38 -22 89 -22 126 0 64 38 175 277 174 372 -2 84 -92 269 -212 436 -61 84 -246 266 -333 328 -132 93 -274 154 -452 194 -103 23 -269 38 -325 29z"/>
							    <path d="M1126 1839 c-114 -28 -245 -134 -303 -245 -106 -201 -73 -424 87 -584 100 -100 202 -140 353 -140 130 0 234 40 325 125 259 241 196 653 -123 811 -73 36 -82 38 -188 40 -62 2 -129 -1 -151 -7z m201 -242 c172 -64 230 -273 112 -402 -57 -62 -99 -79 -186 -76 -87 2 -109 9 -158 53 -75 65 -103 174 -70 267 22 65 62 108 128 141 65 32 118 37 174 17z"/>
							    <path d="M1883 960 c-47 -29 -56 -54 -61 -177 l-5 -113 -76 -1 c-118 -1 -171 -12 -198 -43 -31 -36 -38 -70 -24 -117 19 -64 54 -79 187 -79 l112 0 4 -119 c5 -134 16 -163 74 -187 71 -30 147 11 158 84 3 20 8 76 11 123 l7 86 119 10 c131 12 150 20 176 81 19 46 3 104 -39 134 -28 19 -47 23 -150 26 l-118 4 0 105 c0 124 -13 163 -63 186 -46 22 -75 21 -114 -3z"/>
							  </g>
							</svg>
						</a>
					</td>
					<td ><a th:href="@{/user/{id}/calls(id=${user.id})}" class="callButton" data-toggle="tooltip" data-placement="top" title="Llamar"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg></a></td>
				</tr>	
			</tbody>
			<!-- En caso de que se haya introducido una búsqueda -->
			<tbody th:if="${searchResults != null and !searchResults.isEmpty()}">
				<tr th:each="user : ${searchResults}">
					<td th:text="${user.name}" class='overflow-auto'> </td>
					<td th:text="${user.surname}"></td>
					<td th:switch="${user.gender}"  >
						<span th:case="'M'" >Mujer</span>
						<span th:case="'H'" >Hombre</span>
					</td>
					<td th:text="${user.birthday}"></td>
					<td></td>
					<td><a th:href="@{/user/{id}(id=${user.id})}" data-toggle="tooltip" data-placement="top" title="Ver más">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 250 250" fill="#5f6368">
							  <g transform="translate(0.000000,250.000000) scale(0.100000,-0.100000)" stroke="none">
							    <path d="M1170 2354 c-200 -31 -332 -68 -444 -127 -272 -141 -501 -383 -650 -687 -67 -136 -72 -175 -37 -277 61 -177 193 -374 357 -533 138 -133 296 -232 485 -303 133 -50 185 -44 229 28 47 76 4 147 -114 191 -178 65 -332 162 -450 282 -105 107 -157 178 -226 313 l-59 116 59 113 c142 267 296 424 525 534 177 86 328 115 497 96 383 -43 688 -283 888 -701 l22 -45 -57 -113 c-75 -150 -76 -203 -3 -246 38 -22 89 -22 126 0 64 38 175 277 174 372 -2 84 -92 269 -212 436 -61 84 -246 266 -333 328 -132 93 -274 154 -452 194 -103 23 -269 38 -325 29z"/>
							    <path d="M1126 1839 c-114 -28 -245 -134 -303 -245 -106 -201 -73 -424 87 -584 100 -100 202 -140 353 -140 130 0 234 40 325 125 259 241 196 653 -123 811 -73 36 -82 38 -188 40 -62 2 -129 -1 -151 -7z m201 -242 c172 -64 230 -273 112 -402 -57 -62 -99 -79 -186 -76 -87 2 -109 9 -158 53 -75 65 -103 174 -70 267 22 65 62 108 128 141 65 32 118 37 174 17z"/>
							    <path d="M1883 960 c-47 -29 -56 -54 -61 -177 l-5 -113 -76 -1 c-118 -1 -171 -12 -198 -43 -31 -36 -38 -70 -24 -117 19 -64 54 -79 187 -79 l112 0 4 -119 c5 -134 16 -163 74 -187 71 -30 147 11 158 84 3 20 8 76 11 123 l7 86 119 10 c131 12 150 20 176 81 19 46 3 104 -39 134 -28 19 -47 23 -150 26 l-118 4 0 105 c0 124 -13 163 -63 186 -46 22 -75 21 -114 -3z"/>
							  </g>
							</svg>
						</a>
					</td>
					<td ><a th:href="@{/user/{id}/calls(id=${user.id})}" class="callButton" data-toggle="tooltip" data-placement="top" title="Llamar"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M798-120q-125 0-247-54.5T329-329Q229-429 174.5-551T120-798q0-18 12-30t30-12h162q14 0 25 9.5t13 22.5l26 140q2 16-1 27t-11 19l-97 98q20 37 47.5 71.5T387-386q31 31 65 57.5t72 48.5l94-94q9-9 23.5-13.5T670-390l138 28q14 4 23 14.5t9 23.5v162q0 18-12 30t-30 12ZM241-600l66-66-17-94h-89q5 41 14 81t26 79Zm358 358q39 17 79.5 27t81.5 13v-88l-94-19-67 67ZM241-600Zm358 358Z"/></svg></a></td>
				</tr>	
			</tbody>
		</table>
		
		<!-- Navegación de paginado si NO hay búsqueda -->
		 <div th:if="${searchValue == null or searchValue.isEmpty()}" class="d-flex justify-content-center align-content-center">
	        <label for="pageSize" id="paginationLabel" class="mt-1 me-1">Usuarios por página:</label>
		 	<!-- Selector para tamaño de página -->
		    <form method="get" action="/call/callFirstStage" class="form-inline me-2">
		    	<input type="hidden" name="sortField" th:value="${sortField}" />
		    	<input type="hidden" name="sortDirection" th:value="${sortDirection}" />
		        <select id="pageSize" name="size" class="form-control mr-2" onchange="this.form.submit()">
		            <option th:value="5" th:selected="${pageSize == 5}">5</option>
		            <option th:value="10" th:selected="${pageSize == 10}">10</option>
		            <option th:value="20" th:selected="${pageSize == 20}">20</option>
		            <option th:value="50" th:selected="${pageSize == 50}">50</option>
		            <option th:value="100" th:selected="${pageSize == 100}">100</option>
		        </select>
		        <input type="hidden" name="page" th:value="${currentPage}" />
		    </form>
		    <nav aria-label="Navegador de paginación de usuarios">
		        <ul class="pagination">
		            <!-- Botón 'Anterior' -->
		            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${currentPage - 1}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection})}" th:disabled="${currentPage == 1}">Anterior</a>
		            </li>
		
		            <!-- Primera página -->
		            <li class="page-item" th:classappend="${currentPage == 1} ? 'active'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=1, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection})}">1</a>
		            </li>
		
		            <!-- Puntos suspensivos (si es necesario antes del rango) -->
		            <li class="page-item disabled" th:if="${currentPage > 4}">
		                <span class="page-link">...</span>
		            </li>
		
		            <!-- Páginas cercanas a la actual -->
		            <li class="page-item" 
		                th:each="pageNum : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" 
		                th:if="${pageNum > 1 && pageNum < totalPages}" 
		                th:classappend="${pageNum == currentPage} ? 'active'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${pageNum}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection})}">[[${pageNum}]]</a>
		            </li>
		
		            <!-- Puntos suspensivos (si es necesario después del rango) -->
		            <li class="page-item disabled" th:if="${currentPage < totalPages - 3}">
		                <span class="page-link">...</span>
		            </li>
		
		            <!-- Última página -->
		            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'active'" th:if="${totalPages > 1}">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${totalPages}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection})}">[[${totalPages}]]</a>
		            </li>
		
		            <!-- Botón 'Siguiente' -->
		            <li class="page-item" th:classappend="${!hasNext} ? 'disabled'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${currentPage + 1}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection})}" th:disabled="${!hasNext}">Siguiente</a>
		            </li>
		        </ul>
		    </nav>
		</div>
		
		<!-- Navegación de paginado cuando HAY búsqueda -->
		 <div th:if="${searchValue != null and !searchValue.isEmpty()}" class="d-flex justify-content-center align-content-center">
	        <label for="pageSize" id="paginationLabel" class="mt-1 me-1">Usuarios por página:</label>
		 	<!-- Selector para tamaño de página -->
		    <form method="get" action="/call/callFirstStage" class="form-inline me-2">
		    	<input type="hidden" name="searchValue" th:value="${searchValue}" />
		    	<input type="hidden" name="sortField" th:value="${sortField}" />
		    	<input type="hidden" name="sortDirection" th:value="${sortDirection}" />
		        <select id="pageSize" name="size" class="form-control mr-2" onchange="this.form.submit()">
		            <option th:value="5" th:selected="${pageSize == 5}">5</option>
		            <option th:value="10" th:selected="${pageSize == 10}">10</option>
		            <option th:value="20" th:selected="${pageSize == 20}">20</option>
		            <option th:value="50" th:selected="${pageSize == 50}">50</option>
		            <option th:value="100" th:selected="${pageSize == 100}">100</option>
		        </select>
		        <input type="hidden" name="page" th:value="${currentPage}" />
		    </form>
		    <nav aria-label="Navegador de paginación de usuarios">
		        <ul class="pagination">
		            <!-- Botón 'Anterior' -->
		            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${currentPage - 1}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection}, searchValue=${searchValue})}" th:disabled="${currentPage == 1}">Anterior</a>
		            </li>
		
		            <!-- Primera página -->
		            <li class="page-item" th:classappend="${currentPage == 1} ? 'active'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=1, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection}, searchValue=${searchValue})}">1</a>
		            </li>
		
		            <!-- Puntos suspensivos (si es necesario antes del rango) -->
		            <li class="page-item disabled" th:if="${currentPage > 4}">
		                <span class="page-link">...</span>
		            </li>
		
		            <!-- Páginas cercanas a la actual -->
		            <li class="page-item" 
		                th:each="pageNum : ${#numbers.sequence(currentPage - 2, currentPage + 2)}" 
		                th:if="${pageNum > 1 && pageNum < totalPages}" 
		                th:classappend="${pageNum == currentPage} ? 'active'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${pageNum}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection}, searchValue=${searchValue})}">[[${pageNum}]]</a>
		            </li>
		
		            <!-- Puntos suspensivos (si es necesario después del rango) -->
		            <li class="page-item disabled" th:if="${currentPage < totalPages - 3}">
		                <span class="page-link">...</span>
		            </li>
		
		            <!-- Última página -->
		            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'active'" th:if="${totalPages > 1}">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${totalPages}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection}, searchValue=${searchValue})}">[[${totalPages}]]</a>
		            </li>
		
		            <!-- Botón 'Siguiente' -->
		            <li class="page-item" th:classappend="${!hasNext} ? 'disabled'">
		                <a class="page-link" th:href="@{/call/callFirstStage(page=${currentPage + 1}, size=${pageSize}, sortField=${sortField}, sortDirection=${sortDirection}, searchValue=${searchValue})}" th:disabled="${!hasNext}">Siguiente</a>
		            </li>
		        </ul>
		    </nav>
		</div>
	</div>
</html>